* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Plain Light";
}
html,
body {
  width: 100%;
  height: 100%;
  cursor: none;
}

#cursor {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  border: 0.5px solid #fff;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #030303;
  padding: 25vh 0 25vh 7vw;
}
.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 2.5vw;
  font-weight: 100;
  font-family: "Silk Serif";
  font-style: italic;
}
#line1-part1 h5 {
  width: 3.4vw;
  text-align: right;
}
.line h1 {
  font-size: 7.3vw;
  text-transform: uppercase;
  font-weight: 600;
}
.line h2 {
  font-size: 7.1vw;
  text-transform: uppercase;
  opacity: 0;
  animation-duration: 4s;
  /* animation-delay: 1.7s; */
  animation-iteration-count: infinite;
  width: fit-content;
  height: 21vh;
}

@keyframes animate {
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: white;
    font-weight: 500;
    opacity: 1;
  }
  10% {
    font-family: "Silk Serif";
    font-style: italic;
    color: transparent;
    font-weight: 500;
    -webkit-text-stroke: 1px #fff;
    opacity: 1;
  }
  20% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: white;
    font-weight: 500;
    opacity: 0;
  }
  30% {
    font-family: "Silk Serif";
    font-style: italic;
    color: transparent;
    font-weight: 500;
    -webkit-text-stroke: 1px #fff;
    opacity: 1;
  }
  40% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: white;
    font-weight: 500;
    opacity: 1;
  }

  50% {
    font-family: "Silk Serif";
    font-style: italic;
    color: transparent;
    font-weight: 500;
    -webkit-text-stroke: 1px #fff;
    opacity: 1;
  }
  60% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: white;
    font-weight: 500;
    opacity: 1;
  }
  70% {
    font-family: "Silk Serif";
    font-style: italic;
    color: transparent;
    font-weight: 500;
    -webkit-text-stroke: 1px #fff;
    opacity: 0;
  }
  80% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: white;
    font-weight: 500;
    opacity: 1;
  }
  90% {
    font-family: "Silk Serif";
    font-style: italic;
    color: transparent;
    font-weight: 500;
    -webkit-text-stroke: 1px #fff;
    opacity: 0;
  }
  100% {
    font-family: "Silk Serif";
    font-weight: 500;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    opacity: 1;
  }
}
#main {
  position: relative;
  background-color: #151515;
}
#page1 {
  height: 110vh;
  width: 100%;
  background-color: #151515;
}
#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5vw 5vw;
  /* background-color: red; */
}
#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vw;
}
#menu h3 {
  font-size: 1vw;
  font-weight: 400;
}
.hero {
  /* background-color: red; */
  position: relative;
  margin-left: 28%;
  width: 72%;
  overflow: hidden;
  height: fit-content;
  display: flex;
  align-items: center;
}

.hero:nth-child(2) {
  margin-top: 12.5vh;
  overflow: visible;
}
.hero h1 {
  font-family: "Plain Light";
  font-size: 7.3vw;
  text-align: left;
  line-height: 7.2vw;
  text-transform: uppercase;
  font-weight: 600;
}
#hero1::before {
  content: "01";
  position: absolute;
  font-size: 3.2vw;
  font-weight: 400;
  font-family: "Silk Serif";
  left: -9vw;
  top: 0vw;
}
.hero h2 {
  font-family: "Plain Light";
  font-size: 7.3vw;
  text-align: left;
  line-height: 7.2vw;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
}
.hero h2:nth-child(2) {
  text-decoration: none;
}

.hero h2:nth-child(1):hover,
.hero h2:nth-child(3):hover {
  -webkit-text-stroke: 1px #fff;
  font-weight: 100;
  color: transparent;
  text-decoration: none;
}
#hero3 {
  gap: 0.5vw;
}

/* Page 2 */

#page2 {
  height: 120vh;
  width: 100%;
  padding-top: 20vh;
  position: relative;
}
#vid-container {
  height: 75vh;
  width: 71vw;
  position: relative;
  left: 28vw;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
#vid-container img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
}
#vid-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#vid-cursor {
  background-color: #ffa63d;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 70%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
}
#page3 {
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(58, 58, 58); */
  position: relative;
  margin: 17vh 0;
}

#page3 .content h1::before {
  content: "02";
  position: absolute;
  font-size: 3.2vw;
  font-weight: 400;
  font-family: "Silk Serif";
  left: -9vw;
  top: 0.5vw;
}
#image-container {
  padding: 2vw;
  position: relative;
  overflow: hidden;
}

.image-div {
  height: 65vh;
  width: 23vw;
  position: relative;
  overflow: hidden;
}

.image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page4 {
  min-height: 100vh;
  position: relative;

  width: 100%;
  background: #151515;
  padding: 12vh 0;
  margin: 25vh 0;
}
.content {
  /* background-color: red; */
  width: 71vw;
  margin-left: 28vw;
  position: relative;
}
.content h1 {
  font-size: 7.3vw;
  text-transform: uppercase;
}

#page4 .content h1::before {
  content: "03";
  position: absolute;
  font-size: 3.2vw;
  font-weight: 400;
  font-family: "Silk Serif";
  left: -9vw;
  top: 0.5vw;
}
.content .underline {
  height: 1.5px;
  width: 95%;
  background-color: #c2c2c2;
  margin: 5vw 0 3.5vw 0;
}
.content > p {
  font-size: 2.25vw;
  width: 50%;
  margin-bottom: 4vw;
}
#flex {
  display: flex;
  /* background: red; */
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2vw;
}
#flex img {
  width: 46%;
  object-fit: cover;
}
#flex p {
  font-size: 0.95vw;
  font-weight: 400;
  line-height: 1.4vw;
  width: 23%;
  margin-top: -5px;
}
.content #info {
  background-color: #3f7df4;
  width: 34vw;
  position: relative;
  padding: 4.5vw 3vw;
  margin-top: -28vh;
  margin-left: 22.5vw;
}
#info .elem {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2.5vw 0;
  border-bottom: 1px solid #fff;
}
#info .elem:first-child {
  padding: 0 0 2.5vw 0;
}

#info .elem h4 {
  font-size: 1.5vw;
  font-weight: 500;
}

#info .elem p {
  width: 46%;
  font-size: 0.9vw;
}

#page5 {
  height: 110vh;
  width: 100%;
  position: relative;
}
.marqueElem,
.marqueElemOpposite {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}
.marqueElem h1 {
  font-size: 7.5vw;
  /* background-color: red; */
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  animation-name: marquee;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.marqueElemOpposite h1 {
  animation-name: marquee;
  animation-duration: 30s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 7.5vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
}

.marqueElem h1 span,
.marqueElemOpposite h1 span {
  font-style: italic;
  font-family: "Silk Serif";
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

#footer {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

#footerContent {
  width: 71vw;
  margin-left: 28vw;
  position: relative;
}
#footer h1 {
  font-size: 7.3vw;
  text-transform: uppercase;
}
#footer h1::before {
  content: "04";
  position: absolute;
  font-size: 3.2vw;
  font-weight: 400;
  font-family: "Silk Serif";
  left: -9vw;
  top: 0.5vw;
}
#footerContent .underline {
  height: 1.5px;
  width: 95%;
  background-color: #c2c2c2;
  margin: 5vw 0 5vw 0;
}
.footerSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
}
.footerSection .box {
  width: 30%;
}
.footerSection h6 {
  font-size: 0.9vw;
  margin-bottom: 1.5vw;
}

.footerSection h4 {
  font-size: 1.5vw;
  font-weight: 500;
}
#footerContent .underline:nth-child(4) {
  margin: 7vw 0 1.5vw 0;
}
#footerContent .copyright {
  font-size: 1vw;
  font-weight: 400;
  padding-bottom: 2vw;
}
._canvas_container {
  z-index: 999999 !important;
  pointer-events: none;
}
